<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= "#{number_with_delimiter(@property.rent)} yen" if @property.rent.present? %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= pluralize(@property.age, "year") if @property.present? %>
</p>

<p>
  <strong>Note:</strong>
  <%= simple_format(@property.note) %>
</p>

<hr>

<% @property.nearest_stations.each_with_index do |nearest_station, index| %>
  <h2>Nearest Station<%= index + 1 %></h2>
  <p>
    <strong>Line name</strong>
    <%= nearest_station.line_name %>
  </p>
  <p>
    <strong>Name</strong>
    <%= nearest_station.name %>
  </p>
  <p>
    <strong>Walking time</strong>
    <%= pluralize(nearest_station.walking_time, "minute") if nearest_station.walking_time.present? %>
  </p>
<% end %>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
